* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

.head-with-border {
  position: relative;
}

.head-with-border h2 {
  background-color: #e2494c;
  color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  max-width: 400px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

.head-with-border h2::before {
  content: '';
  width: 100%;
  height: 1.5px;
  background-color: #9c9c9c;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

.main-button {
  background-color: rgba(226, 73, 76, 0.8);
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  max-width: 50%;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.main-button:hover {
  background-color: #e2494c;
}

.toggler {
  background-color: #e2494c;
  border: none;
  padding: 7px;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  right: 15px;
  display: none;
}

@media (max-width: 767px) {
  .toggler {
    display: block;
  }
}

.toggler span {
  display: block;
  width: 3em;
  height: 4px;
  background-color: #fff;
}

.toggler span:not(:last-child) {
  margin-bottom: 3px;
}

body {
  background-color: #f6f6f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
}

.header .logo {
  width: 30%;
  float: left;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .header .logo {
    width: 30%;
    float: left;
    text-align: left;
  }
}

.header .logo h1 {
  margin-bottom: 0;
  margin-top: 5px;
}

.header .collapse {
  display: none;
}

.header .navbar {
  width: 68%;
  float: right;
  background-color: #e2494c;
  border-radius: 15px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header .navbar {
    width: 100%;
    float: none;
    margin-top: 2em;
    font-size: 0.98em;
  }
}

@media (min-width: 992px) {
  .header .navbar {
    width: 70%;
    float: right;
    margin-top: 1em;
  }
}

@media (max-width: 767px) {
  .header .navbar {
    width: 100%;
    border-radius: 0;
  }
}

.header .navbar li {
  width: 20%;
  float: left;
  font-size: 0.92em;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .header .navbar li {
    float: none;
    display: block;
    width: 100%;
  }
}

.header .navbar li a {
  display: block;
  padding: 1.5em 1em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header .navbar li a:hover {
  color: #ddd;
}

.slider blockquote {
  font-size: 1.4rem;
  line-height: 1.7;
  text-align: center;
  font-style: italic;
  color: #5e5e5e;
  width: 90%;
  margin: 30px auto;
}

.slider img {
  max-width: 100%;
}

.slider .bullets {
  text-align: center;
}

.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9c9c9c;
  border: 2px solid #9c9c9c;
  cursor: pointer;
}

.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #fff;
  border: 2px solid #333;
}

/* Start Servives */
.services .service-box {
  float: left;
  width: 33.33333%;
}

.services .service-box:not(:last-of-type) {
  padding-right: 20px;
}

@media (max-width: 767px) {
  .services .service-box {
    float: none;
    width: 100%;
    text-align: center;
  }
  .services .service-box i {
    display: block;
    margin-bottom: 15px;
  }
}

.services .service-box h3 {
  color: #666;
}

.services .service-box i {
  font-size: 2rem;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.services .service-box p {
  color: #777;
  line-height: 1.5;
}

.services .service-box a {
  color: #e2494c;
  text-decoration: none;
}

/* End Servives */
/* Start Our Players */
.our-players .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .our-players .boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our-players .player-box {
  width: 23.25581%;
}

@media (max-width: 991px) {
  .our-players .player-box {
    width: 47%;
  }
}

.our-players img {
  width: 100%;
  max-height: 14rem;
}

.our-players .player-title {
  color: #666;
  font-weight: normal;
}

.our-players .player-title span {
  font-weight: bold;
}

.our-players .player-desc {
  color: #777;
  line-height: 1.5;
}

.our-players .link {
  color: #e2494c;
  text-decoration: none;
}

/* End Our Players */
/* Start lorem */
.lorem .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .lorem .boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.lorem .lorem-box {
  width: 31.25%;
}

@media (max-width: 767px) {
  .lorem .lorem-box {
    width: 100%;
    margin-bottom: 10px;
  }
}

.lorem .lorem-box img {
  width: 100%;
  MAX-height: 300px;
}

/* End lorem */
.footer {
  background-color: #e2e2e2;
  margin-top: 50px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .container .gallery {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer .container .info,
.footer .container .contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  .footer .container .info,
  .footer .container .contact {
    text-align: center;
  }
}

.footer .container .info input,
.footer .container .info textarea,
.footer .container .contact input,
.footer .container .contact textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.footer .container .info ul {
  color: #888;
  line-height: 1.8;
}

.footer .container .info span {
  color: #e2494c;
}

.footer .section-title {
  color: #444;
  font-weight: normal;
}

.footer .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .img-box img,
.footer .img-box .desc-text {
  margin-right: 25px;
}

.footer .img-box img {
  width: 40%;
  border: 2px solid #9c9c9c;
  margin-bottom: 10px;
}

.footer h4 {
  color: #e2494c;
  font-weight: bold;
}

.footer p {
  color: #888;
  line-height: 1.5;
}

.copyright {
  border-top: 1px solid #888;
  padding-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright div {
  padding: 10px 0;
}
/*# sourceMappingURL=homepage.css.map */