
$maxMobile: "(max-width: 767px)";
$minSmall: "(max-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium:"(min-width: 992px)";
$redColor:#e2494c;
$greyColor:#9c9c9c;

$float-left: left;
$float-right: right;